{% extends "layout.html" %}

{% block title %}Alterar Password{% endblock %}
{% block page_header%}Alterar Password{% endblock %}

{% block body%}

<!-- Page Title -->
<div class ="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form action="/changePassword" method="POST">
                <div class="form-group">
                    <label>Password atual</label>
                    <input type="password" class="form-control"
                           name="old_password"
                           id="old_password"
                           placeholder="Password atual" required>
                </div>
                <div class="form-group">
                    <label>Nova password</label>
                    <input type="password" class="form-control"
                           name="new_password"
                           id="new_password"
                           placeholder="Nova password" required>
                </div>
                <div class="form-group">
                    <label>Confirmar password</label>
                    <input type="password" class="form-control"
                           name="confirm_password"
                           id="confirm_password"
                           placeholder="Confirmar password" required>
                </div>
                <button type="submit" class="btn btn-success">
                    Alterar Password
                </button>
            </form>
        </div>
    </div>
</div>

<script>
 var password = document.getElementById("new_password")
   , confirm_password = document.getElementById("confirm_password");

 function validatePassword(){
     if(password.value != confirm_password.value) {
         confirm_password.setCustomValidity("Passwords Don't Match");
     } else {
         confirm_password.setCustomValidity('');
     }
 }

 password.onchange = validatePassword;
 confirm_password.onkeyup = validatePassword;
</script>

{% endblock %}
