{% extends "layout.html" %}
{% from "macros.html" import search_form, FMB_logo %}

{% block title %}Gráficos{% endblock %}
{% block page_header%}Gráficos{% endblock %}

{% block head %}
{{ super() }}

<!-- TODO:this should be working from a local file -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script src="/static/js/charts.js"></script>

{% endblock %}
{% block body%}

<div class="container">
    <!-- search_form -->
    {{ search_form("charts",lower_date,upper_date,date_warning) }}
    {% if search_made %}
    <!-- chart_form -->
    <div class ="row">
    <div class="col-md-4">
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="text-success text-center">
            Escolha o gráfico pretendido
        </h4>

        <div class="panel-group" id="accordion"
             role="tablist" aria-multiselectable="true">
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse"
                           data-parent="#accordion" href="#collapseOne"
                           aria-expanded="true" aria-controls="collapseOne">
                            Circular
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse"
                     role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <h4 class="text-success">
                            Sumatórios de entradas:
                        </h4>
                        <div class="col-md-12 text-center"
                             style="padding-bottom: 5px;">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-success">
                                <input type="radio" name="optionsRadios"
                                       id="pie-gates" autocomplete="off" >
                                Portas
                            </label>
                            <label class="btn btn-success">
                                <input type="radio" name="optionsRadios"
                                       id="pie-countries" autocomplete="off">
                                Países
                            </label>
                            <label class="btn btn-success">
                                <input type="radio" name="optionsRadios"
                                       id="pie-municipalities"
                                       autocomplete="off">
                                Concelhos
                            </label>
                        </div>
                        </div>
                        <button class="btn btn-success" id="pie-btn"
                                href="#" type="button"
                                style="float: right;">
                            <span class="glyphicon glyphicon-share-alt"
                                  aria-hidden="true"></span>
                            Gerar
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button"
                           data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo" aria-expanded="false"
                           aria-controls="collapseTwo">
                            Cartesiano
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse"
                     role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <h4 class="text-success">
                            Entradas por Período:
                        </h4>
                        <div class="col-md-12 ">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-success">
                                    <input type="checkbox"
                                           id="vehicles-chk"
                                           autocomplete="off">
                                    Viaturas
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-success">
                                    <input type="checkbox" id="bikes-chk"
                                           autocomplete="off">
                                    Motos
                                </label>
                                <label class="btn btn-success">
                                    <input type="checkbox"
                                           id="lightduty-chk"
                                           autocomplete="off">
                                    Ligeiros
                                </label>
                                <label class="btn btn-success">
                                    <input type="checkbox"
                                           id="lightdutyXL-chk"
                                           autocomplete="off">
                                    LigeirosXL
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12 "
                             style="padding-bottom: 5px;">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-success">
                                    <input type="checkbox"
                                           id="caravans-chk"
                                           autocomplete="off">
                                    Caravanas
                                </label>
                                <label class="btn btn-success">
                                    <input type="checkbox" id="busses-chk"
                                           autocomplete="off">
                                    Autocarros
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-success">
                                    <input type="checkbox"
                                           id="persons-chk"
                                           autocomplete="off">
                                    Pessoas
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12 "
                             style="padding-bottom: 5px;">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-success">
                                    <input type="checkbox"
                                           id="pedestrians-chk"
                                           autocomplete="off">
                                    Peões
                                </label>
                                <label class="btn btn-success">
                                    <input type="checkbox"
                                           id="bicicles-chk"
                                           autocomplete="off">
                                    Bicicletas
                                </label>
                                <label class="btn btn-success">
                                    <input type="checkbox"
                                           id="passangers-chk"
                                           autocomplete="off">
                                    Passageiros
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-success" id="line-btn"
                                    href="#" type="button"
                                    style="float: right;">
                                <span class="glyphicon glyphicon-share-alt"
                                      aria-hidden="true"></span>
                                Gerar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button"
                           data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree" aria-expanded="false"
                           aria-controls="collapseThree">
                            Mapa
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse"
                     role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <h4 class="text-success"> Visualizar no mapa: </h4>
                        <div class="col-md-12 text-center"
                             style="padding-bottom: 5px;">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-success">
                                <input type="radio" name="optionsRadios"
                                       id="maps-world" autocomplete="off" >
                                Mundo
                            </label>
                            <label class="btn btn-success">
                                <input type="radio" name="optionsRadios"
                                       id="pie-europe" autocomplete="off">
                                Europa
                            </label>
                            <label class="btn btn-success">
                                <input type="radio" name="optionsRadios"
                                       id="maps-portugal"
                                       autocomplete="off">
                                Portugal
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-success" id="map-btn"
                            href="#" type="button"
                            style="float: right;">
                        <span class="glyphicon glyphicon-share-alt"
                              aria-hidden="true"></span>
                        Gerar
                    </button>
                </div>
            </div>
        </div>
        </div>
    </div>


        </div>
    </div>

    <div class="col-md-8">
    <!-- chart renderer -->
    <div class="row">
        <div class="row">
        <div class="col-md-12 text-center">
            <h5>
                &nbsp;&nbsp;
                <b>Resultados de:</b>
                {{ lower_date }} <b>a</b> {{ upper_date }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>Porta:</b> {{ gate }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>Período:</b> {{ period_str }}
            </h5>
        <!-- warnings for the chart form -->
            <div class="alert alert-danger" id="error-div"
                 role="alert" style="display: none">
                <span class="glyphicon glyphicon-exclamation-sign"
                      aria-hidden="true">
                </span>
                <b>Erro,</b>
                <p id="error-message" style="display: inline">
                </p>
            </div>
            <div id="chart-container">
                <div class="col-md-12 text-center">
                    <br>
                    <br>
                    <img src="/static/img/logo.png" height="140px"
                         alt="logo here"></img>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
</div>
{% else %}

<!-- default image before search -->
<br>
{{ FMB_logo() }}
</div>
{% endif %}


<script>
    //TODO: scroll to chart-container div
    $(document).ready(function() {
        var search_JSON = {{ search|tojson|safe }}
        var search = JSON.parse(search_JSON)

        $("#map-btn").click(function() {
            clearError();
            clearChart();
            generateMap();
        });

        $("#pie-btn").click(function() {
            clearError();
            clearChart();
            generatePie(search);
        });

        $("#line-btn").click(function() {
            clearError();
            clearChart();
            generateLine(search);
        });
    });
</script>

{% endblock %}
