{% extends "layout.html" %}
{% from "macros.html" import search_form, FMB_logo %}

{% block title %}Gráficos{% endblock %}
{% block page_header%}Gráficos{% endblock %}

{% block head %}
{{ super() }}

<!-- TODO:this should be working from a local file -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script src="/static/js/charts.js"></script>

{% endblock %}
{% block body%}

<div class="container">
    <!-- search_form -->
    {{ search_form("charts",lower_date,upper_date,date_warning) }}
    {% if search_made %}
    <br>

    <!-- chart_form -->
    <div class ="row">
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a href="#maps" role="tab"
                               data-toggle="tab" class="text-success">
                                <b>Mapa</b>
                            </a>
                        </li>
                        <li>
                            <a href="#pie" role="tab"
                               data-toggle="tab" class="text-success">
                                <b>Circular</b>
                            </a>
                        </li>
                        <li>
                            <a href="#line" role="tab"
                               data-toggle="tab" class="text-success">
                                <b>Cartesiano</b>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Map charts pane -->
                        <div class="tab-pane active" id="maps">
                            <h4 class="text-success"> Visualizar no mapa: </h4>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label>
                                    <input type="radio" name="optionsRadios"
                                           id="maps-world" value="option2">
                                    Mundo
                                </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>
                                    <input type="radio" name="optionsRadios"
                                           id="maps-europe" value="option2">
                                    Europa
                                </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>
                                    <input type="radio" name="optionsRadios"
                                           id="maps-portugal" value="option2">
                                    Portugal
                                </label>
                                </div>
                            </div>
                            <button class="btn btn-success" id="map-btn"
                                    href="#" type="button"
                                    style="float: right;">
                                <span class="glyphicon glyphicon-share-alt"
                                      aria-hidden="true"></span>
                                Gerar
                            </button>
                        </div>
                        <!-- Pie charts pane -->
                        <div class="tab-pane" id="pie">
                            <h4 class="text-success">
                                Sumatórios de entradas:
                            </h4>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label>
                                    <input type="radio" name="optionsRadios"
                                           id="pie-gates" value="option2">
                                    Portas
                                </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>
                                    <input type="radio" name="optionsRadios"
                                           id="pie-countries" value="option2">
                                    Paises
                                    </label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>
                                    <input type="radio"
                                           name="optionsRadios"
                                           id="pie-municipalities"
                                           value="option2">
                                    Concelhos
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-success" id="pie-btn"
                                    href="#" type="button"
                                    style="float: right;">
                                <span class="glyphicon glyphicon-share-alt"
                                      aria-hidden="true"></span>
                                Gerar
                            </button>
                        </div>
                        <!-- Line charts pane -->
                        <div class="tab-pane" id="line">
                            <h4 class="text-success">Entradas por Período:</h4>
                            <div class="row">
                                <!-- xAxis container -->
                                <div class="container col-md-4">
                                    <h5><b>Eixo X:</b></h5>
                                    <div class="checkbox col-md-3">
                                        <label>
                                        <input id="period-chk"
                                               type="checkbox"
                                               checked
                                               disabled>
                                        <b>Período</b>
                                    </label>
                                    </div>
                                </div>

                                <!-- yAxis container -->
                                <h5><b>Eixo Y:</b></h5>
                                <div class="container col-md-4">
                                    <div class="row">
                                        <div class="checkbox col-md-3">
                                            <label>
                                                <input id="vehicles-chk"
                                                       type="checkbox">
                                                <b>Viaturas</b>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="container col-md-offset-1
                                                    col-md-3">
                                            <div class="checkbox">
                                                <label>
                                                    <input id="bikes-chk"
                                                           type="checkbox">
                                                    <b>Moto</b>
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input id="lightduty-chk"
                                                           type="checkbox">
                                                    <b>Ligeiro</b>
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input id="lightdutyXL-chk"
                                                           type="checkbox">
                                                    <b>LigeiroXL</b>
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input id="caravans-chk"
                                                           type="checkbox">
                                                    <b>Caravana</b>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input id="busses-chk"
                                                           type="checkbox">
                                                    <b>Autocarro</b>
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="container col-md-4">
                                    <div class="row">
                                        <div class="checkbox col-md-3">
                                            <label>
                                                <input id="persons-chk"
                                                       type="checkbox">
                                                <b>Pessoas</b>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="container col-md-offset-1
                                                    col-md-3">
                                            <div class="checkbox">
                                                <label>
                                                    <input id="pedestrians-chk"
                                                           type="checkbox">
                                                    <b>Peões</b>
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input id="bicicles-chk"
                                                           type="checkbox">
                                                    <b>Bicicletas</b>
                                                </label>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input id="passengers-chk"
                                                           type="checkbox">
                                                    <b>Passageiros</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-success" id="line-btn"
                                    href="#" type="button"
                                    style="float: right;">
                                <span class="glyphicon glyphicon-share-alt"
                                      aria-hidden="true"></span>
                                Gerar
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- warnings for the chart form -->
        <div class="alert alert-danger" id="error-div"
             role="alert" style="display: none">
            <span class="glyphicon glyphicon-exclamation-sign"
                  aria-hidden="true">
            </span>
            <b>Erro,</b>
            <p id="error-message" style="display: inline">
            </p>
        </div>
    </div>

    <!-- chart renderer -->
    <div class="row">
        <div class="col-md-3">
                <h5><b>Resultados de:</b>
                    {{ lower_date }} <b>a</b> {{ upper_date }}</h5>
        </div>
        <div class="col-md-2">
        <h5><b>Porta:</b> {{ gate }}</h5>
        </div>
        <div class="col-md-2">
        <h5><b>Período:</b> {{ period_str }}</h5>
        </div>
        <div class="col-md-12">
            <div id="chart-container">
            </div>
        </div>
    </div>
    </div>
</div>
{% else %}

<!-- default image before search -->
<br>
{{ FMB_logo() }}
</div>
{% endif %}


<script>
    //TODO: scroll to chart-container div
    $(document).ready(function() {
        var search_JSON = {{ search|tojson|safe }}
        var search = JSON.parse(search_JSON)

        $("#map-btn").click(function() {
            clearError();
            clearChart();
            generateMap();
        });

        $("#pie-btn").click(function() {
            clearError();
            clearChart();
            generatePie(search);
        });

        $("#line-btn").click(function() {
            clearError();
            clearChart();
            generateLine(search);
        });
    });
</script>

{% endblock %}
