{% extends "layout.html" %}
{% from "macros.html" import search_form %}

{% block title %}Gráficos{% endblock %}

{% block head %}
{{ super() }}
<!-- TODO:this should be working from a local file -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}

{% block body%}

<!-- Page Title -->
<div class ="container">
    <div class="page-header">
        <br>
        <h1>Gráficos   <small>Fundação Mata do Bussaco</small></h1>
    </div>
<!-- search_form -->
{{ search_form("/charts",lower_date,upper_date,date_warning) }}
    <div class="row">
        <div id="container1">
        </div>
    </div>
    <div class="row">
        <div id="container2">
        </div>
    </div>
</div>

<script>
Highcharts.chart('container1', {

    title: {
        text: 'Tipos de Veículos'
    },

    subtitle: {
        text: 'INSERT PERIOD HERE'
    },

    yAxis: {
        title: {
            text: 'Numero de entradas'
        }
    },

    xAxis: {
        categories: ['0','aa','bb']
    },

    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            pointStart: 1
        }
    },

    series: [{
        name: 'Moto',
        data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
    }, {
        name: 'Ligeiro',
        data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
    }, {
        name: 'Ligeiro XL',
        data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
    }, {
        name: 'Caravana',
        data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
    }, {
        name: 'Autocarro',
        data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
    }]

});
</script>



{% endblock %}
