<!DOCTYPE html>
<html lang="en">
    <head>
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/favicon-16x16.png">
    <title>{% block title %}{% endblock %} - FMB</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- this should be at the end but blocks get messy -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

{% endblock %}
  </head>
  <header>
{% block header %}
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed"
                      data-toggle="collapse" data-target="#navbar"
                      aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                  <span><img src="/static/img/icon-nav.png"></img></span> Fundação Mata do Bussaco
              </a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="/">Estatísticas</a></li>
                  <li><a href="charts">Gráficos</a></li>
                  <li><a href="upload">Carregar</a></li>
                  <li>
                      <a href="/static/resources/ORIGINAL.xlsx"
                         download="Folha_de_Receitas_Original"> Exportar </a>
                  </li>
              </ul>
          </div><!--/.nav-collapse -->
      </div>
  </nav>
{% endblock %}
  </header>
  <body>
{% block body %}

{% endblock %}

  <footer>
{% block footer %}
      <hr>
      <h5 class="text-center">
          Fundação Mata do Bussaco 
          | website criado por:
          <a href="mailto:maia.coelho.dev@gmail.com">
              maia.coelho.dev@gmail.com
          </a>
      </h5>

{% endblock %}
  </footer>

  </body>
</html>
