{% from "macros.html" import navbar, FMB_logo, alert%}

<!DOCTYPE html>
<html lang="en" style="position: relative; min-height: 100%;">
    <head>
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/favicon-16x16.png">
    <title>{% block title %}{% endblock %} - FMB</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- this should be at the end but blocks get messy -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
     $(document).ready(function(){
         $('[data-toggle="tooltip"]').tooltip(); 
     });
    </script>

{% endblock %}
  </head>
  <header>
      {% block navbar %}
{% if current_user.role in ["Administrador","Visualizador","Portageiro"] %}
  {{ navbar(current_user) }}
{% endif %}
      {% endblock %}
{% block header %}
      <div class ="container">
          <div class="page-header">
              <br>
              <h1>{% block page_header %}{% endblock %}
                  <small>Fundação Mata do Bussaco</small>
              </h1>
          </div>
          {% block alert %}
          {{ alert(alert_data) }}
          {% endblock %}
      </div>
{% endblock %}
  </header>
  <body>
      {% block body %}
      <div class="container">
          <br> <br><br>
          {{ FMB_logo() }}
      </div>
      {% endblock %}
      <br><br><br>
      <footer class="footer"
              style="position: absolute; bottom: 0; width: 100%;">
          {% block footer %}
          <hr>
          <h5 class="text-center">
              Fundação Mata do Bussaco
              | website criado por:
              <a href="mailto:maia.coelho.dev@gmail.com">
                  maia.coelho.dev@gmail.com
              </a>
          </h5>
      </footer>
      {% endblock %}
  </body>
</html>
