{% macro search_form(lower_date,upper_date,date_warning) %}
<form class="form-inline text-center" method="POST" action="/">
    <div class="form-group">
        <label for="data_inicio">Data de Inicio</label>
        <input type="date" class="form-control" name="lower_date"
               value ={{ lower_date }}>
    </div>
    <div class="form-group">
        <label for="data_fim">Data de Fim</label>
        <input type="date" class="form-control" name="upper_date"
               value ={{ upper_date }}>
    </div>
    <div class="form-group">
        <label for="gate">Porta</label>
        <select class="form-control" name="gate"
                value={{ gate }}>
            <option value="Todas">Todas</option>
            <option value="Ameias">Ameias</option>
            <option value="Serpa">Serpa</option>
            <option value="Rainha">Rainha</option>
        </select>
    </div>
    <div class="form-group">
        <label for="period">Período:</label>
        <select class="form-control" name="period">
            <option value="Totais">Totais</option>
            <option value="Diario">Diário</option>
            <option value="Semanal">Semanal</option>
            <option value="Mensal">Mensal</option>
            <option value="Anual">Anual</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-search"
              aria-hidden="true"></span>
        Pesquisar
    </button>
</form>
{% if date_warning %}
<div class="alert alert-danger" role="alert">
    <p><b>Erro,</b>
        data de inicio tem de ser anterior à data de fim!
    </p>
</div>
{% endif %}
<br>
{% endmacro %}
