{% macro search_form(action, lower_date,upper_date,date_warning) %}
<form class="form-inline text-center" method="POST" action={{ action }}>
    <div class="form-group" data-toggle="tooltip"
         title="Data de inicio da procura">
        <label for="data_inicio">Data de Inicio</label>
        <input type="date" class="form-control" name="lower_date"
               value ={{ lower_date }}>
    </div>
    <div class="form-group" data-toggle="tooltip"
         title="Data de fim da procura">
        <label for="data_fim">Data de Fim</label>
        <input type="date" class="form-control" name="upper_date"
               value ={{ upper_date }}>
    </div>
    <div class="form-group" data-toggle="tooltip"
         title="Selecione a porta para pretendida">
        <label for="gate">Porta</label>
        <select class="form-control" name="gate"
                value={{ gate }}>
            <option value="Todas">Todas</option>
            <option value="Ameias">Ameias</option>
            <option value="Serpa">Serpa</option>
            <option value="Rainha">Rainha</option>
        </select>
    </div>
    <div class="form-group" data-toggle="tooltip"
         title="Selecione a forma de agrupar a informação">
        <label for="period">Período:</label>
        <select class="form-control" name="period">
            <option value="Totais">Totais</option>
            <option value="Diario">Diário</option>
            <option value="Semanal">Semanal</option>
            <option value="Mensal">Mensal</option>
            <option value="Anual">Anual</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-search"
              aria-hidden="true"></span>
        Pesquisar
    </button>
</form>
{% if date_warning %}
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
    </span>
    <b>Erro,</b> data de inicio da pesquisa tem de ser anterior à data de fim!
</div>
{% endif %}
<br>
{% endmacro %}

{% macro navbar(current_user) %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span><img src="/static/img/icon-nav.png"></img></span>
                Portal FMB
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if current_user.role == "Portageiro" %}
                <li><a href="under_construction">Chat</a></li>
                <li><a href="upload">Carregar Receita</a></li>
                <li><a href="under_construction">Dísponibilidade</a></li>
                <li><a href="under_construction">Horário</a></li>
                <li>
                    <a href="under_construction">Contabilização de Horas</a>
                </li>
                {% endif %}
                {% if current_user.role == "Visualizador" %}
                <li><a href="under_construction">Chat</a></li>
                <li><a href="stats">Estatísticas</a></li>
                <li><a href="charts">Gráficos</a></li>
                {% endif %}
                {% if current_user.role=="Administrador" %}
                <li><a href="under_construction">Chat</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Estatística
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="stats">Estatísticas</a></li>
                        <li><a href="charts">Gráficos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Receitas
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="upload">Carregar</a></li>
                        <li><a href="under_construction">Descarregar</a></li>
                        <li><a href="under_construction">Consultar</a></li>
                        <li>
                            <a href="under_construction">
                                Carregar Original
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Pendente
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/under_construction">Receitas</a></li>
                        <li><a href="/under_construction">Correções</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Correções
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="upload">Receitas</a></li>
                        <li><a href="/under_construction">Entradas</a></li>
                        <li><a href="/under_construction">Países</a></li>
                        <li><a href="/under_construction">Concelhos</a></li>
                        <li><a href="/under_construction">Horário</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Funcionários
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="addUser">Adicionar</a></li>
                        <li><a href="listUsers">Listar/Remover</a></li>
                        <li>
                            <a href="/logs">
                                Relatório de Utilização
                            </a>
                        </li>
                        <li><a href="under_construction">
                            Contabilização de Horas
                        </a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Horários
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/under_construction">Consultar</a></li>
                        <li><a href="/under_construction">Gerar</a></li>
                        <li><a href="/under_construction">Corrigir</a></li>
                        <li><a href="/under_construction">Disponibilidades</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        {{ current_user.name }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="text-right" href="/personalData">
                                Dados Pessoais
                            </a>
                        </li>
                        <li>
                            <a class="text-right" href="/changePassword">
                                Alterar Password
                            </a>
                        </li>
                        <li>
                            <a class="text-right" href="userLogout">Sair</a>
                        </li>
                    </ul>
                </li>
                <li><a href="userLogout">Sair</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
{% endmacro %}

{% macro FMB_logo()%}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" >
            <img src="/static/img/logo.png" height="200px"
                 alt="logo here"></img>
        </div>
    </div>
</div>
{% endmacro %}

{% macro alert(alert_data)%}
{% if alert_data%}
{%if alert_data.category != "none" %}
<div class="alert alert-{{ alert_data.category }} alert-dismissible" role="alert">
    <button type="button" class="close"
            data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    <strong>{{alert_data.title}}!</strong>
    {{ alert_data.description }}
</div>
{% endif %}
{% endif %}

{% endmacro %}
