{% extends "layout.html" %}

{% block title %}Em construção{% endblock %}
{% block page_header%}Em Construção{% endblock %}

{% block body%}

<!-- Page Title -->
<div class ="container">
    <div class="row">
        <br><br><br><br><br>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center" >
                    <img src="/static/img/logo.png" height="200px"
                         alt="logo here"></img>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
