{% extends "layout.html" %}

{% block title %}Carregar Ficheiros{% endblock %}

{% block body%}

<!-- Page Title -->
<div class ="container">
    <div class="page-header">
        <br>
        <h1>Em Construção   <small>Fundação Mata do Bussaco</small></h1>
    </div>
    <div class="row">

        <!-- default image before search -->
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="/static/img/logo.png"
                         height="200px" alt="logo here"> </img>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
