<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Relatório de Carregamento - FMB</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
      <div class="container">
          <div class="page-header text-center">
              <h1>Relatório de carregamento<small></small></h1>
          </div>
          {% if upload_results %}
          <h3>Correções necessárias:</h3>
          <div class="row">
              <div class ="panel-group">

                  <form method="POST" action="/upload/finalize">
                  {% for result in upload_results %}
                  <div class="panel panel-success">
                      <div class="panel-heading">
                          <div class="row">
                              <div class="col-md-6">
                                  <h3 class="panel-title">
                                      Ficheiro: {{ result }}
                                  </h3>
                              </div>
                              <div class="col-md-3">
                                  <h3 class="panel-title">
                                      Registos efetuados:
                                      {{ upload_results[result][1]|length }}
                                  </h3>
                              </div>
                              <div class="col-md-3">
                                  <h3 class="panel-title">
                                      Registos falhados:
                                      {{ upload_results[result][2]|length }}
                                  </h3>
                              </div>
                          </div>
                      </div>
                      {% for invalid_entry in upload_results[result][2] %}
                      <div class="panel-body">

                          <input type="hidden" name="vt_failed"
                                 value="{{ invalid_entry[0] }}" />
                          <input type="hidden" name="c_failed"
                                 value="{{ invalid_entry[2] }}" />
                          <input type="hidden" name="m_failed"
                                 value="{{ invalid_entry[3] }}" />

                          <div class="form-inline">
                          <div class="form-group col-md-4">
                              <label  class="control-label col-md-6" for="vt">
                                  <h5>Viatura lida:
                                      <b>{{ invalid_entry[0] }}</b>
                                  </h5>
                              </label>

                              <div class="container col-md-6">
                                  {% for vt in vt_list
                                  if vt == invalid_entry[0] %}

                                  <select class="form-control" id="vt"
                                              style="width: 150px"
                                          name="vt"
                                          disabled>
                                      <option selected="selected"
                                              value="{{ vt }}">
                                          {{ vt }}
                                      </option>
                                  </select>
                                  <input type="hidden" name="vt"
                                         value="{{ vt }}" />

                                  {% else %}

                                  <select class="form-control" id="vt"
                                          name="vt"
                                          style="width: 150px"
                                          required>
                                      <option disabled selected value>
                                          CORRIGIR
                                      </option>
                                      {% for vt in vt_list %}
                                      <option value="{{ vt }}">
                                          {{ vt }}
                                      </option>
                                      {% endfor%}
                                  </select>
                                  {% endfor %}
                              <input type="hidden" name="vt_error"
                                     value = "{{ invalid_entry[0] }}" />

                              <input type="hidden" name="p"
                                 value="{{ invalid_entry[1] }}" />
                              </div>
                          </div>

                          <div class="form-group col-md-4">
                              <label  class="control-label col-md-6" for="c">
                                  <h5>País lido:
                                      <b>{{ invalid_entry[2] }}</b>
                                  </h5>
                              </label>
                              <div class="container col-md-6">
                                  {% for c in c_list
                                  if c == invalid_entry[2]
                                  and invalid_entry[2] != "N/A" %}
                                  <select class="form-control" id="c" name="c"
                                              style="width: 150px"
                                          disabled>
                                      <option selected="selected"
                                              value="{{ c }}">
                                          {{ c }}
                                      </option>
                                  </select>
                                  <input type="hidden" name="c"
                                         value="{{ c }}" />
                                  {% else %}

                                      {% if invalid_entry[2] != "N/A" %}
                                  <select class="form-control" id="c" name="c"
                                          style="width: 150px"
                                          required>
                                      <option disabled selected value>
                                          CORRIGIR
                                      </option>
                                      {% else %}
                                      <select class="form-control" id="c"
                                              style="width: 150px"
                                              name="c">
                                          <option selected ="selected"
                                                  value="N/A">
                                          N/A
                                      </option>
                                      {% endif %}

                                      {% for c in c_list %}
                                      <option value="{{ c }}">
                                          {{ c }}
                                      </option>
                                      {% endfor%}
                                  </select>
                                  {% endfor %}
                              </div>
                          </div>


                          <div class="form-group col-md-4">
                              <label  class="control-label col-md-6" for="m">
                                  <h5>Concelho lido:
                                      <b>{{ invalid_entry[3] }}</b>
                                  </h5>
                              </label>
                              <div class="container col-md-6">
                                  {% for m in m_list
                                  if m == invalid_entry[3]
                                  and invalid_entry[3] != "N/A" %}
                                  <select class="form-control" id="m" name="m"
                                          style="width: 150px"
                                          disabled>
                                      <option selected="selected"
                                              value="{{ m }}">
                                          {{ m }}
                                      </option>
                                  </select>
                                  <input type="hidden" name="m"
                                         value="{{ m }}" />
                                  {% else %}

                                      {% if invalid_entry[3] != "N/A" %}
                                  <select class="form-control" id="m" name="m"
                                          style="width: 150px"
                                          required>
                                      <option disabled selected value>
                                          CORRIGIR
                                      </option>
                                      {% else %}
                                      <select class="form-control" id="m"
                                              name="m"
                                              style="width: 150px"
                                      >
                                      <option selected="selected"
                                              value ="N/A">
                                          N/A
                                      </option>
                                      {% endif %}

                                      {% for m in m_list %}
                                      <option value="{{ m }}">
                                          {{ m }}
                                      </option>
                                      {% endfor%}
                                  </select>
                                  {% endfor %}
                              </div>
                          </div>
                          </div>

                      </div>
                      {% endfor %}
                      <input type="hidden" name="reports"
                             value = {{ upload_results[result][0].id }} />
                      <input type="hidden" name="num_entrances"
                             value = {{ upload_results[result][2]|length }} />
                  </div>
                  {% endfor %}
          {% endif %}
                  {% if failed_uploads %}
                  <div class="container">
                  <h3>Ficheiros não carregados:</h3>
                  <div class="row">
                      <div class ="panel-group">
                          {% for failed_file in failed_uploads %}
                          <div class="panel panel-danger">
                              <div class="panel-heading">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <h3 class="panel-title">
                                              Ficheiro: {{ failed_file }}
                                          </h3>
                                      </div>
                                      <div class="col-md-6">
                                          <h3 class="panel-title">
                                              <b>Erro ao carregar: </b>
                                              {{ failed_uploads[failed_file] }}
                                          </h3>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          {% endfor %}
                      </div>
                  </div>
                  </div>
                  {% endif %}
                  <hr>
                  <div class="row">
                      <div class="col-md-3">
                          <button type="submit"
                                  class="btn btn-default btn-lg btn-block"
                                  disabled="disabled">
                              <span class="glyphicon glyphicon-floppy-remove"
                                    aria-hidden="true"></span>
                              Esquecer
                          </button>
                      </div>
                      <div class="col-md-9">
                          <button type="submit" class="btn btn-success
                                                       btn-lg btn-block">
                              <span class="glyphicon glyphicon-floppy-disk"
                                    aria-hidden="true"></span>
                              Guardar
                          </button>
                      </div>
                  </div>
                  </form>
              </div>
              </div>
      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
  </body>
</html>
