{% extends "layout.html" %}

{% block title %}Carregar Ficheiros{% endblock %}
{% block page_header%}Carregar Ficheiros{% endblock %}

{% block body%}

<!-- Page Title -->
<div class ="container">
    <div class="row">
        <div class ="col-md-6">
            <h4><b>Recomendações:</b></h4>
            <p>
                Reconhece os relatórios em vigor no ano 2017
                no formato .xls ou .xlsx
            </p>
            <p>
                O nome do ficheiro tem de ter o seguinte formato:<br>
                "PRIMEIRO_NOME ULTIMO_NOME DIA MÊS(extenso) PORTA"

            </p>
            <p>
                Tenha <b>atenção</b> no preenchimento da hora de entrada e
                de saida para garantir uma melhor estimativa na
                contabilização de horas.
            </p>
            <p>
                <a href="FILE TO DOWNLOAD" download="Original.xlsx">
                    Descarregar exemplar
                </a>
            </p>
            <p>
                Em caso de problema contactar: 
                <a href="mailto:maia.coelho.dev@gmail.com">
                    maia.coelho.dev@gmail.com
                </a>
            </p>
        </div>
        <div class ="col-md-6">
        <form method="POST" enctype="multipart/form-data" action="/upload">
            <div class="form-group">
                <div class="form-group">
                    <input type="file" name="file[]" multiple=""
                           accept=".xls,.xlsx">
                </div>
                <button type="submit" value="upload"
                        class="btn btn-success btn-lg">Carregar</button>
            </div>
        </form>
        </div>
    </div>
</div>

{% endblock %}
