{% extends "layout.html" %}

{% block title %}Carregar Ficheiros{% endblock %}
{% block page_header%}Carregar Ficheiros{% endblock %}

{% block body%}

<!-- Page Title -->
<div class ="container">
    <div class="row">
        <div class ="col-md-6">
            <h4><b>Recomendações:</b></h4>
            <p>
                Reconhece os relatórios em vigor no ano 2017
                no formato .xls ou .xlsx
            </p>
            <hr>
            <p>
                O nome do ficheiro tem de ter o seguinte formato:<br>
                "PRIMEIRO_NOME ULTIMO_NOME DIA MÊS(extenso) PORTA"

            </p>
            <hr>
            <p>
                <b>atenção</b> no preenchimento dos campos:<br>
                <ul>porta<br>
                data<br>
                hora de entrada<br>
                hora de saida<br>
                numero de bilhetes vendidos<br>
                </ul>
                para evitar erros no carregamento de ficheiros.
            </p>
            <hr>
            <p>
                <a href="FILE TO DOWNLOAD" download="Original.xlsx">
                    Descarregar exemplar
                </a>
            </p>
            <p>
                Em caso de problema contactar: 
                <a href="mailto:maia.coelho.dev@gmail.com">
                    maia.coelho.dev@gmail.com
                </a>
            </p>
        </div>
        <div class ="col-md-6">
        <form method="POST" enctype="multipart/form-data" action="/upload">
            {% if current_user.role == "Administrador" %}
            <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="gate">Utilizador</label>
                    <select class="form-control" name="email"
                            value="" required>
                        <option disabled selected value>
                            Escolha o Utilizador
                        </option>
                        {% for user in user_list %}
                        <option value={{ user.email }}> {{ user.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            </div>
            <br>
            {% endif %}
            <div class="form-group">
                <div class="form-group">
                    <input type="file" name="file[]" multiple=""
                           accept=".xls,.xlsx">
                </div>
                <button type="submit" value="upload"
                        class="btn btn-success btn-lg">Carregar
                </button>
            </div>
        </form>
        </div>
        </div>
    </div>
</div>

{% endblock %}
