{% extends "layout.html" %}
{% from "macros.html" import FMB_logo %}

{% block title %}Validar Receitas{% endblock %}
{% block page_header%}Validar Receitas{% endblock %}

{% block body%}

<!-- Page Title -->
<div class ="container">
    {% if report_list != [] %}
    <div class="row">
        <div class="col-md-12">
            <form method="POST">
                <button class="btn btn-success" disabled>
                    <span class="glyphicon glyphicon-ok"> </span>
                    Validar Todos
                </button>
                <button class="btn btn-success"
                        formaction="{{ url_for('pendingPdf') }}" >
                    <span class="glyphicon glyphicon-print"> </span>
                    Imprimir
                </button>
            </form>
        </div>
    </div>
        <br>
    <div class="row">
        <form method="POST">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-1">
                        <h3 class="panel-title text-right">Porta</h3>
                    </div>
                    <div class="col-md-3">
                        <h3 class="panel-title text-center">Data - Turno</h3>
                    </div>
                    <div class="col-md-1">
                        <h3 class="panel-title text-center">Total</h3>
                    </div>
                    <div class="col-md-3">
                        <h3 class="panel-title">Utilizador</h3>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3 class="panel-title">Ações</h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {% for report in report_list %}
                <div class="row">
                    <div class="col-md-1 text-right">
                        <h5> {{ report.gate }} </h5>
                    </div>
                    <div class="col-md-3 text-center">
                        <h5>{{ report.date }} - {{ report.start_time }} às {{report.end_time }}</h5>
                    </div>
                    <div class="col-md-1 text-center">
                        <h5> <b>{{ report.total }}€ </b></h5>
                    </div>
                    <div class="col-md-3">
                        <h5>{{ report.user }}</h5>
                    </div>
                    <div class="col-md-4 text-center">
                        <button class="btn btn-success"
                                type="submit"
                                formaction="{{url_for('validateReport')}}"
                                name="report_id" value="{{ report.id }}">
                            <span class="glyphicon glyphicon-ok"> </span>
                        </button>
                        <button class="btn btn-danger"
                                type="submit"
                                formaction="{{ url_for('deleteReport')}}"
                                name="report_id" value="{{ report.id }}">
                            <span class="glyphicon glyphicon-remove"> </span>
                        </button>
                        <button class="btn btn-success"
                                type="submit"
                                formaction="{{url_for('downloadReport')}}"
                                name="report_id" value="{{ report.id }}">
                            <span class="glyphicon glyphicon-floppy-disk">
                            </span>
                        </button>
                        <!-- TODO: don't forget to rework this body
                             not working-->
                        <button class="btn btn-success"
                                formaction="mailto:{{ report.email }}?subject=Retificação%20de%20Receita&body=aaaa%0Aaaaa"
                        >
                            <span class="glyphicon glyphicon-envelope"> </span>
                        </button>
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>
        </div>
        </form>
    </div>
    {% else %}
    <br>
    {{ FMB_logo() }}

    {% endif %}
</div>

{% endblock %}
